{% extends 'dashboard.html' %}


{% block dash %}
    <div class="container p-5">

        <div>
            <div class="h3">
                Select Course
            </div>
        </div>

        <div>
            <table class="table">
                <tr>
                    <th>Department</th>
                    <th>Course</th>
                    <th>Course ID</th>
                    <th>Semester</th>
                    <th>Action</th>
                </tr>

                {% for cor in cor %}
                    <tr>
                        <td>{{dept.name}}</td>
                        <td>{{cor.name}}</td>
                        <td>{{cor.course_id}}</td>
                        <td>{{cor.sems}}</td>
                        <td><a href="{% url 'admin_HallTicket' dept.id cor.id %}"><button class="btn btn-dark">{{cor.name}}</button></a>
                            {% endfor %}</td>
                    </tr>
                

            </table>
        </div>
       
    </div>
{% endblock %}