{% extends 'dashboard.html' %}


{% block dash %}
    <div class="container p-5">
        <h3>Department: {{dept}}</h3>
        <br>
        <div>
            <form action="" method="POST" class="form-control">
                {%csrf_token%}
                <label for="">Select Course</label>
                <select name="cor" id="" class="form-control">
                    {%for i in data %}
                    <option value="{{i.name}}">{{i.name}}</option>
                    {%endfor%}
                </select>
                <br>
                <label for="">Select Semester</label>
                <select name="sem" id="" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <br>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}